<h4>{{fullLocation}}</h4>

<h3>Rentals available in {{city.name}}:</h3>

<ul>
  {{#each city.rentals as |rental|}}
    {{rental-tile rental=rental}}
  {{/each}}
</ul>

<button {{action 'delete' city}}>Delete City</button>
