/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}

body {
  background: peru;
  font-family: sans-serif;
}

img {
  max-width: 600px;
  height: auto;
  border-radius: 10px;
}

li {
  margin-bottom: 15px;
}

/* Pseudo-classes ------------------ */
