<header class = "jumbotron">
  {{#link-to 'index'}}<h1>Super Rentals</h1>{{/link-to}}
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'news'}}NEWS{{/link-to}} ||
  {{#link-to 'index'}}Home{{/link-to}} ||
  {{#link-to 'contact'}}Contact{{/link-to}}
</footer>
