<h1>Welcome to Super Rentals</h1>

We hope you find exactly what you're looking for in a place to stay.
<p>
|| {{#link-to 'news'}}NEWS{{/link-to}} ||
</p>
<ul>
  {{#each model as |rental|}}
  {{rental-tile rental=rental update="update" destroyRental="destroyRental"}}
  {{/each}}
</ul>

{{new-rental save2="save3"}}
<br>
{{#link-to 'about'}}About{{/link-to}} ||
{{#link-to 'contact'}}Contact{{/link-to}}
