<h1>Latest News</h1>
<ul>
  {{#each model as |news|}}
  {{news-tile news=news destroyNews="destroyNews"}}
  {{/each}}
</ul>
{{new-news save5="save6"}}

<br>
{{#link-to 'index'}}Home{{/link-to}} ||
{{#link-to 'about'}}About{{/link-to}} ||
{{#link-to 'contact'}}Contact{{/link-to}}
